[submodule "OCA/edi"]
	path = OCA/edi
	url = git@github.com:OCA/edi.git
	branch = 15.0

[submodule "RLJO/erp-solutions"]
	path = RLJO/erp-solutions
	url = git@github.com:RLJO/erp-solutions.git
	branch = main

[submodule "OCA/mis-builder"]
	path = OCA/mis-builder
	url = git@github.com:OCA/mis-builder.git
	branch = 15.0

[submodule "OCA/queue"]
	path = OCA/queue
	url = git@github.com:OCA/queue.git
	branch = 15.0
